body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  /* align-items: center; */
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-photo {
  width: 1000px;
  height: 1000px;
}
